ul{
	font-family: Georgia;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}
li a{
	display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
	background-color: white;
}

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 1vh;
	border: 20px white solid;
}
.samplegrid-a{
	background-color: white;
	padding: 20px;
	height: 200px;
	grid-column-start: 1;
	grid-colum-end: span 1;
	text-align: justify;
}
.samplegrid-b{
	background-color: white;
	padding: 20px;
	height: 100px;
	grid-column-start: 2;
	grid-colum-end: span 1;
	text-align: justify;
}
.samplegrid-c{
	background-color: white;
	padding: 20px;
	height: 20px;
	grid-column-start: 2;
	grid-colum-end: span 1;
	text-align: justify;
}
.samplegrid-d{
	background-color: white;
	padding: 20px;
	height: 20px;
	grid-column-start: 3;
	grid-colum-end: span 1;
	grid-row-start: 1;
	text-align: justify;
}
.samplegrid-e{
	background-color: white;
	padding: 20px;
	height: 20px;
	grid-column-start: 4;
	grid-colum-end: span 1;
	grid-row-start: 1;
	text-align: justify;
}
 
html, body, a, a:hover { cursor:url('http://www.snazzyspace.com/cursorsfolder/dog-paw.png'), auto !important; }


