ul{
	font-family: Georgia;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}
li a{
	display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
	background-color: white;
}

.grid{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 3vh;
	border: 1px gray solid;
}
.samplegrid-a{
	background-color: white;
	padding: 1em;
	grid-column-start: 1;
	grid-colum-end: span 2;
	text-align: justify;
}